<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Didn&#8217;t quite end up how i imagined!	</title>
	<atom:link href="https://notjustrecipes.com/2006/11/21/didnt-quite-end-up-how-i-imagined/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2006/11/21/didnt-quite-end-up-how-i-imagined/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 19 Mar 2012 23:26:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: nicole		</title>
		<link>https://notjustrecipes.com/2006/11/21/didnt-quite-end-up-how-i-imagined/#comment-5</link>

		<dc:creator><![CDATA[nicole]]></dc:creator>
		<pubDate>Tue, 28 Nov 2006 12:11:21 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=5#comment-5</guid>

					<description><![CDATA[Gosh Natasha this sounds absolutely hectic!
How terrible. I am just glad to hear that you are recovering and made it back to Sydney.
Must have been really disappointing though.
How are you now?
Sending you lots of love and good wishes for recouperation.
Nicole]]></description>
			<content:encoded><![CDATA[<p>Gosh Natasha this sounds absolutely hectic!<br />
How terrible. I am just glad to hear that you are recovering and made it back to Sydney.<br />
Must have been really disappointing though.<br />
How are you now?<br />
Sending you lots of love and good wishes for recouperation.<br />
Nicole</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
