<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>names &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/tag/names/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Wed, 20 Feb 2008 15:19:46 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>SANTA NATALIA</title>
		<link>https://notjustrecipes.com/2008/02/21/santa-natalia/</link>
					<comments>https://notjustrecipes.com/2008/02/21/santa-natalia/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 15:19:46 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<category><![CDATA[names]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/21/santa-natalia/</guid>

					<description><![CDATA[NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec. Santa Natalia is a Spanish saint, in the years of muslim domination. &#8220;Santa Natalia &#8230; <a href="https://notjustrecipes.com/2008/02/21/santa-natalia/" class="more-link">Continue reading <span class="screen-reader-text">SANTA NATALIA</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec.<br />
Santa Natalia is a Spanish saint, in the years of muslim domination.</p>
<p>&#8220;Santa Natalia de Córdoba nació en esta ciudad alrededor del 825, en plena dominación musulmana. Reinaba entonces el emir Abderramán II, mismo que desató una persecución contra los cristianos.</p>
<p>Fue el caso de Natalia, que nació de padres mahometanos. Su padre falleció cuando ella era muy pequeña, la madre se casó en segundas nupcias con un cristiano, que logró convertirla. Natalia fue educada cristianamente y casada con Aurelio, un muchacho con profundas convicciones cristianas (de madre cristiana y padre mahometano pero educado por una tía cristiana) pero en la clandestinidad, para evitar las persecuciones. Ambos, habiendo asistido al martirio de Juan, creyeron los esposos que tenían que ser más valientes y practicar su religión en público para animar a los demás cristianos, evitando así que se pasaran al islamismo, la religión oficial en aquel momento y lugar.<br />
Pronto les tocó a ellos el turno del martirio. Fueron prendidos por los ministros del gobernador y conducidos a prisión. Allí intentaron por todos los medios, jueces y verdugos, que renegasen de su fe. Pero ni las promesas ni las torturas pudieron con ellos. Fueron degollados el 27 de julio del 852. Sus cuerpos fueron sepultados y venerados por los cristianos; pero estando muy poco seguros en Córdoba, Carlos el Calvo se ocupó de trasladar seis años más tarde (852) a San Germán (París) el cuerpo de san Aurelio y la cabeza de santa Natalia.&#8221;<br />
But I all allso found Saint Natalia of Nicomedia (1 December).Christian woman married to a non-Christian Nicomedian imperial officer named Adrian. Her husband was so impressed by Christians persecuted by Diocletian that he openly declared he was a Christian, though he hadn&#8217;t even been baptized; he was immediately arrested. Natalia visited him, arranged for his instruction in the faith, and ministered to other prisoners. When Adrian was sentenced to death and could have no visitors, Natalia disguised herself as a boy and bribed her way in to see him. On 8 September 304 she watched Adrian&#8217;s tortured execution, and had to be restrained from throwing herself on the funeral pyre. When a storm put out the fire, she managed to recover Adrian&#8217;s hand, which she kept as a relic. She then moved to Argyropolis where she lived out the rest of her days alone.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-11.jpg" width="94" height="124" alt="images-11.jpg" class="imageframe imgaligncenter" /></p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-2.jpg" width="63" height="113" alt="images-2.jpg" class="imageframe imgaligncenter" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/21/santa-natalia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
