<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: I bought myself an electric piano	</title>
	<atom:link href="https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 19 Mar 2012 23:26:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Natasha		</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-11</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Mon, 07 Apr 2008 00:38:32 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-11</guid>

					<description><![CDATA[Yes, totally rearranged. Mum bought us a couple of book shelfs and it inspired a complete reorg! It looks so much better. The couch faces the door onto the balcony now and we can enjoy my small but green garden (pot plants). It fels much bigger for some reason.]]></description>
			<content:encoded><![CDATA[<p>Yes, totally rearranged. Mum bought us a couple of book shelfs and it inspired a complete reorg! It looks so much better. The couch faces the door onto the balcony now and we can enjoy my small but green garden (pot plants). It fels much bigger for some reason.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Marilyn		</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-10</link>

		<dc:creator><![CDATA[Marilyn]]></dc:creator>
		<pubDate>Fri, 28 Mar 2008 16:42:56 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-10</guid>

					<description><![CDATA[that is a tight fit!
hey ed, love the headset look :)
i don&#039;t understand, have you rearranged your flat?]]></description>
			<content:encoded><![CDATA[<p>that is a tight fit!<br />
hey ed, love the headset look 🙂<br />
i don&#8217;t understand, have you rearranged your flat?</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: macrina		</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-9</link>

		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 26 Mar 2008 21:15:07 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-9</guid>

					<description><![CDATA[that is  a great idea!!]]></description>
			<content:encoded><![CDATA[<p>that is  a great idea!!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
