<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: dolphin	</title>
	<atom:link href="https://notjustrecipes.com/2008/07/05/dolphin/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/07/05/dolphin/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Wed, 10 May 2023 08:31:34 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Natasha		</title>
		<link>https://notjustrecipes.com/2008/07/05/dolphin/#comment-13</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Sat, 05 Jul 2008 02:24:11 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/05/dolphin/#comment-13</guid>

					<description><![CDATA[amazing! where were you? What a wonderful experience. Ed and I went away weekend before last and saw dolphins, but only in the distance.... We also saw a humpback whale splashing in the distance.]]></description>
			<content:encoded><![CDATA[<p>amazing! where were you? What a wonderful experience. Ed and I went away weekend before last and saw dolphins, but only in the distance&#8230;. We also saw a humpback whale splashing in the distance.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
