<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Hello world!	</title>
	<atom:link href="https://notjustrecipes.com/2006/11/08/hello-world-2/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2006/11/08/hello-world-2/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 19 Mar 2012 23:26:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Natasha		</title>
		<link>https://notjustrecipes.com/2006/11/08/hello-world-2/#comment-2</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Wed, 08 Nov 2006 12:21:16 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2006/11/08/hello-world-2/#comment-2</guid>

					<description><![CDATA[Can we put photos in here! I am so excited! Okay, okay, calm down. I think I need to learn how to use this thing.....
Macrina, thank you so much for thinking of this. We must strategise getting everyone else involved.]]></description>
			<content:encoded><![CDATA[<p>Can we put photos in here! I am so excited! Okay, okay, calm down. I think I need to learn how to use this thing&#8230;..<br />
Macrina, thank you so much for thinking of this. We must strategise getting everyone else involved.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
