<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Natasha loves &#8220;azafran&#8221;	</title>
	<atom:link href="https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 05 Apr 2012 19:39:46 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Macrina BUSATO		</title>
		<link>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comment-20</link>

		<dc:creator><![CDATA[Macrina BUSATO]]></dc:creator>
		<pubDate>Thu, 05 Apr 2012 19:39:46 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comment-20</guid>

					<description><![CDATA[Very good work, Natasha! It is picked by hand, and involves a lot of work, usually from women. Paella and many other mediterranean rices needs azafrán, and many fish stews..]]></description>
			<content:encoded><![CDATA[<p>Very good work, Natasha! It is picked by hand, and involves a lot of work, usually from women. Paella and many other mediterranean rices needs azafrán, and many fish stews..</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
