<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: What did the mouse say?	</title>
	<atom:link href="https://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 19 Mar 2012 23:26:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
</channel>
</rss>
