<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Family &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/category/family/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Sun, 24 Feb 2008 19:42:33 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>RATONCITO PEREZ answers</title>
		<link>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/</link>
					<comments>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 19:42:33 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/</guid>

					<description><![CDATA[Yes, Ratoncito always answers. Not to much words. I supose because he is alwaYs in a hurry. He said: &#8221; Thank you Alvaro for taking care of your teeth, always so clean and nice. I have lots of friends, but two of them are very special: Lucy and Ricardo. And my favorite color is cheese &#8230; <a href="https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/" class="more-link">Continue reading <span class="screen-reader-text">RATONCITO PEREZ answers</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Yes, Ratoncito always answers. Not to much words. I supose because he is alwaYs in a hurry. He said:<br />
&#8221; Thank you Alvaro for taking care of your teeth, always so clean and nice. I have lots of friends, but two of them are very special: Lucy and Ricardo. And my favorite color is cheese color: blue cheese, ricotta cheese, parmesano cheese, feta cheese&#8230;.I love all the colors of cheese, even the greens in roquefort cheese and the orange in gouda cheese&#8230;Cheese color is my favorite!&#8221;.<br />
Alvaro agree this is a very clever mouse!!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Today RATONCITO PEREZ will visit us</title>
		<link>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/</link>
					<comments>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Thu, 21 Feb 2008 23:13:56 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/</guid>

					<description><![CDATA[Alvaro is waiting this night to &#8220;Ratoncito Perez&#8221;. He will come and take his teeth and leave a little present for Alvaro. For some reason we belive it will be something like&#8230;Lego?. How clever is this mouse!!. Alvaro leaved for him cheese and a hudge carrot, but also 2 questions for him to awnser: who &#8230; <a href="https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/" class="more-link">Continue reading <span class="screen-reader-text">Today RATONCITO PEREZ will visit us</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Alvaro is waiting this night to &#8220;Ratoncito Perez&#8221;. He will come and take his teeth and leave a little present for Alvaro. For some reason we belive it will be something like&#8230;Lego?. How clever is this mouse!!. Alvaro leaved for him cheese and a hudge carrot, but also 2 questions for him to awnser:<br />
who is your best friend? what is your favorite color?&#8230;<br />
I wonder if this mouse will be able to write in this white board.<br />
I d&#8217;ont know why I am in such a hurry, but finally Natasha, I decide to go to NY and exhibit.<br />
<img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/alva-1.thumbnail.jpg" width="160" height="200" alt="alva-1.jpg" class="imageframe imgalignleft" /><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/alva-2.thumbnail.jpg" width="200" height="129" alt="alva-2.jpg" class="imageframe imgalignright" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>SANTA NATALIA</title>
		<link>https://notjustrecipes.com/2008/02/21/santa-natalia/</link>
					<comments>https://notjustrecipes.com/2008/02/21/santa-natalia/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 15:19:46 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<category><![CDATA[names]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/21/santa-natalia/</guid>

					<description><![CDATA[NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec. Santa Natalia is a Spanish saint, in the years of muslim domination. &#8220;Santa Natalia &#8230; <a href="https://notjustrecipes.com/2008/02/21/santa-natalia/" class="more-link">Continue reading <span class="screen-reader-text">SANTA NATALIA</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec.<br />
Santa Natalia is a Spanish saint, in the years of muslim domination.</p>
<p>&#8220;Santa Natalia de Córdoba nació en esta ciudad alrededor del 825, en plena dominación musulmana. Reinaba entonces el emir Abderramán II, mismo que desató una persecución contra los cristianos.</p>
<p>Fue el caso de Natalia, que nació de padres mahometanos. Su padre falleció cuando ella era muy pequeña, la madre se casó en segundas nupcias con un cristiano, que logró convertirla. Natalia fue educada cristianamente y casada con Aurelio, un muchacho con profundas convicciones cristianas (de madre cristiana y padre mahometano pero educado por una tía cristiana) pero en la clandestinidad, para evitar las persecuciones. Ambos, habiendo asistido al martirio de Juan, creyeron los esposos que tenían que ser más valientes y practicar su religión en público para animar a los demás cristianos, evitando así que se pasaran al islamismo, la religión oficial en aquel momento y lugar.<br />
Pronto les tocó a ellos el turno del martirio. Fueron prendidos por los ministros del gobernador y conducidos a prisión. Allí intentaron por todos los medios, jueces y verdugos, que renegasen de su fe. Pero ni las promesas ni las torturas pudieron con ellos. Fueron degollados el 27 de julio del 852. Sus cuerpos fueron sepultados y venerados por los cristianos; pero estando muy poco seguros en Córdoba, Carlos el Calvo se ocupó de trasladar seis años más tarde (852) a San Germán (París) el cuerpo de san Aurelio y la cabeza de santa Natalia.&#8221;<br />
But I all allso found Saint Natalia of Nicomedia (1 December).Christian woman married to a non-Christian Nicomedian imperial officer named Adrian. Her husband was so impressed by Christians persecuted by Diocletian that he openly declared he was a Christian, though he hadn&#8217;t even been baptized; he was immediately arrested. Natalia visited him, arranged for his instruction in the faith, and ministered to other prisoners. When Adrian was sentenced to death and could have no visitors, Natalia disguised herself as a boy and bribed her way in to see him. On 8 September 304 she watched Adrian&#8217;s tortured execution, and had to be restrained from throwing herself on the funeral pyre. When a storm put out the fire, she managed to recover Adrian&#8217;s hand, which she kept as a relic. She then moved to Argyropolis where she lived out the rest of her days alone.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-11.jpg" width="94" height="124" alt="images-11.jpg" class="imageframe imgaligncenter" /></p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-2.jpg" width="63" height="113" alt="images-2.jpg" class="imageframe imgaligncenter" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/21/santa-natalia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
