<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: I might just end up wearing saris!	</title>
	<atom:link href="https://notjustrecipes.com/2006/11/17/i-might-just-end-up-wearing-saris/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2006/11/17/i-might-just-end-up-wearing-saris/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 19 Mar 2012 23:26:56 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Emily		</title>
		<link>https://notjustrecipes.com/2006/11/17/i-might-just-end-up-wearing-saris/#comment-4</link>

		<dc:creator><![CDATA[Emily]]></dc:creator>
		<pubDate>Thu, 16 Nov 2006 20:02:59 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=3#comment-4</guid>

					<description><![CDATA[Yea! A new blog!  Your trip sounds amazing. Looking forward to the pictures.]]></description>
			<content:encoded><![CDATA[<p>Yea! A new blog!  Your trip sounds amazing. Looking forward to the pictures.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
