<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:14:07 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>Corsica</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/</link>
					<comments>https://notjustrecipes.com/2008/07/27/corsica/#comments</comments>
		
		<dc:creator><![CDATA[jeanette]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 07:12:42 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<figure id="attachment_80" aria-describedby="caption-attachment-80" style="width: 2592px" class="wp-caption alignnone"><a href="/files/2008/07/img_28581.jpg"><img decoding="async" class="wp-image-80 size-full" src="/files/2008/07/img_28581.jpg" alt="fantastic weekend sailing in Corsica" width="2592" height="1944" /></a><figcaption id="caption-attachment-80" class="wp-caption-text">fantastic weekend sailing in Corsica</figcaption></figure>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/27/corsica/feed/</wfw:commentRss>
			<slash:comments>5</slash:comments>
		
		
			</item>
		<item>
		<title>Pink and Pelicans</title>
		<link>https://notjustrecipes.com/2008/07/06/pink-and-pelicans-2/</link>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 06 Jul 2008 08:34:36 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/06/pink-and-pelicans-2/</guid>

					<description><![CDATA[A couple of pics from our weekend at Port Stephens. You can&#8217;t believe how big those pelicans are! We were too intimidated to try and get close enough to touch one or even be in the same pic.  ]]></description>
										<content:encoded><![CDATA[<p>A couple of pics from our weekend at Port Stephens. You can&#8217;t believe how big those pelicans are! We were too intimidated to try and get close enough to touch one or even be in the same pic.</p>
<p style="text-align: center;"><a title="img_4911.JPG" href="https://notjustrecipes.com/files/2008/07/img_4911.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter alignnone" src="https://notjustrecipes.com/files/2008/07/img_4911.thumbnail.JPG" alt="img_4911.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4939.JPG" href="https://notjustrecipes.com/files/2008/07/img_4939.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/img_4939.thumbnail.JPG" alt="img_4939.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="sta_5022.JPG" href="https://notjustrecipes.com/files/2008/07/sta_5022.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/sta_5022.thumbnail.JPG" alt="sta_5022.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4974.JPG" href="https://notjustrecipes.com/files/2008/07/img_4974.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/img_4974.thumbnail.JPG" alt="img_4974.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4974.JPG" href="https://notjustrecipes.com/files/2008/07/img_4974.jpg" rel="lightbox[pics-1215311236]"> </a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>dolphin</title>
		<link>https://notjustrecipes.com/2008/07/05/dolphin/</link>
					<comments>https://notjustrecipes.com/2008/07/05/dolphin/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Fri, 04 Jul 2008 16:15:05 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/05/dolphin/</guid>

					<description><![CDATA[I was so happy and excited he could touch a dolphin&#8230;!]]></description>
										<content:encoded><![CDATA[<p>I was so happy and excited he could touch a dolphin&#8230;!</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/10246339.jpg" alt="10246339.jpg" width="425" height="319" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/05/dolphin/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>A hat.</title>
		<link>https://notjustrecipes.com/2008/07/02/a-hat/</link>
					<comments>https://notjustrecipes.com/2008/07/02/a-hat/#comments</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Wed, 02 Jul 2008 12:54:53 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/02/a-hat/</guid>

					<description><![CDATA[My friends (Brett and Nicole &#8211; celebrated childrens book author!) little girl (Daniella) wearing the first baby hat I have ever made. I designed it myself as you can tell by the way it is too small and doesn&#8217;t cover her ears properly!!!I see however that the hat is completely upstaged by those big beautiful &#8230; <a href="https://notjustrecipes.com/2008/07/02/a-hat/" class="more-link">Continue reading <span class="screen-reader-text">A hat.</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>My friends (Brett and Nicole &#8211; celebrated childrens book author!) little girl (Daniella) wearing the first baby hat I have ever made. I designed it myself as you can tell by the way it is too small and doesn&#8217;t cover her ears properly!!!<a title="img_8951.jpg" href="https://notjustrecipes.com/files/2008/07/img_8951.jpg" rel="lightbox[pics-1215002485]"><img decoding="async" loading="lazy" class="imageframe imgalignleft alignnone" src="https://notjustrecipes.com/files/2008/07/img_8951.thumbnail.jpg" alt="img_8951.jpg" width="150" height="200" /></a>I see <a href="https://notjustrecipes.com/files/2008/07/img_8956.jpg"><img decoding="async" loading="lazy" class="alignright wp-image-66" title="img_8956.jpg" src="https://notjustrecipes.com/files/2008/07/img_8956.jpg" alt="" width="384" height="288" /></a>however that the hat is completely upstaged by those big beautiful eyes!!!I see however that the hat is completely upstaged by those big beautiful eyes!!!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/02/a-hat/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>I bought myself an electric piano</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/</link>
					<comments>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comments</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Wed, 26 Mar 2008 09:35:11 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/</guid>

					<description><![CDATA[I used to play the piano when I was a teenager and loved it. But for the last 12 years I haven&#8217;t lived somewhere where I could have a piano without disturbing neighbours. While I was in Paris, Nicolas inspired me and I went back to Australia determined to buy my self a good electric &#8230; <a href="https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/" class="more-link">Continue reading <span class="screen-reader-text">I bought myself an electric piano</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>I used to play the piano when I was a teenager and loved it. But for the last 12 years I haven&#8217;t lived somewhere where I could have a piano without disturbing neighbours.</p>
<p>While I was in Paris, Nicolas inspired me and I went back to Australia determined to buy my self a good electric piano that I can play with headphones on. Making mistakes as often as I like and frustrating only myself! (As a testament to Jason, he told me to buy one 10 years ago, but it has taken me this long and good reviews from a friend of mine to get over my snobishness about it) . Now that I have it, I am so happy! Playing it 1-2 hours a day (sometimes when I should be working).</p>
<p>Oh, I forgot to mention&#8230;.  It doesn&#8217;t exactly fit into our apartment&#8230; Thank you Ed for not minding it practically blocking the entrance to our flat.  (Lucky he seems content enough so long as he can experiment with all the different sounds and instruments)</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4887.thumbnail.JPG" alt="Ed playing my new piano" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p style="text-align: center">&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
		<item>
		<title>For Natasha: a recipe at the end.</title>
		<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</link>
					<comments>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Tue, 11 Mar 2008 14:57:43 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</guid>

					<description><![CDATA[chocolate mousse The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward. Ingredients: For 1 ½ Cups (2 servings), just you and Ed. 2 bananas, peeled and sliced 1/3 cup raw cacao nibs, ground fine 7 tbsp. raw coconut oil or coconut butter 3 tbsp. light agave nectar &#8230; <a href="https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/" class="more-link">Continue reading <span class="screen-reader-text">For Natasha: a recipe at the end.</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>chocolate mousse<br />
The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward.<br />
Ingredients:</p>
<p>For 1 ½ Cups (2 servings), just you and Ed.<br />
2 bananas, peeled and sliced<br />
1/3 cup raw cacao nibs, ground fine<br />
7 tbsp. raw coconut oil or coconut butter<br />
3 tbsp. light agave nectar<br />
1 tsp. vanilla extract, preferably alcohol-free<br />
raspberries for garnish<br />
Combine bananas, ground cacao nibs, coconut oil, agave nectar and vanilla extract in a food processor, and pulse until smooth. If a thicker pudding is desired, add more banana and coconut oil (pudding will also thicken as it chills). Cover and refrigerate for 2 hours. Spoon into serving dishes, and garnish each dish with raspberries.</p>
<p style="text-align: center"><a href="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.jpg" rel="lightbox[pics-1205247175]" title="hoar_raw_chocolate_mousse.jpg"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.thumbnail.jpg" width="200" height="125" alt="hoar_raw_chocolate_mousse.jpg" class="imageframe imgaligncenter" /></a></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>This is for you Macrina</title>
		<link>https://notjustrecipes.com/2008/03/01/this-is-for-you-macrina/</link>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 21:06:31 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/this-is-for-you-macrina/</guid>

					<description><![CDATA[a piece of glass we found.]]></description>
										<content:encoded><![CDATA[<p>a piece of glass we found.</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/03/img_4095.thumbnail.JPG" alt="img_4095.JPG" width="200" height="150" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>And this is Rachael and me on her birthday</title>
		<link>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/</link>
					<comments>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 21:05:41 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4134.thumbnail.JPG" alt="img_4134.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>BIG COLUMNS little streets</title>
		<link>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/</link>
					<comments>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 20:34:03 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/big-columns-little-streets/</guid>

					<description><![CDATA[Rome has been wonderful. Not the least because Rachael is so funny and makes me laugh and laugh. We have been walking the streets, cycling through the Borghese gardens (which are the same size as the old city of Rome!) eating and generally finding the entertainment of any place or situation. There are a few &#8230; <a href="https://notjustrecipes.com/2008/03/01/big-columns-little-streets/" class="more-link">Continue reading <span class="screen-reader-text">BIG COLUMNS little streets</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Rome has been wonderful. Not the least because Rachael is so funny and makes me laugh and laugh. We have been walking the streets, cycling through the Borghese gardens (which are the same size as the old city of Rome!) eating and generally finding the entertainment of any place or situation. There are a few things that stand out as unique here</p>
<p>First and most obvious</p>
<p>1) BIG COLUMNS (this is the Pantheon which has 16, 14 meter columns made of Egyptian granite)</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4215.thumbnail.JPG" alt="Pantheon" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p>and this below a picture of the 1st century column in the middle of our apartment which was preserved when it the building was built in the 14th century. This column used to be part of the huge building where people went to vote.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4181.thumbnail.JPG" alt="Pillar in a room…." class="imageframe imgaligncenter" height="150" width="200" /></p>
<p> It is very funny as the room is very small! and this gigantic Egyptian granite column is in the middle of it.</p>
<p>2) fashion stores for priests. It never occurred to me that they would have to go to a store to buy their garments. I guess I never thought about it very much!</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4201.thumbnail.JPG" alt="img_4201.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p> 3) Skinny streets    &#8211; which somehow still manage to house hundreds of scooters, pedestrians and 2 way traffic.</p>
<p style="text-align: center" align="left"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4073.thumbnail.JPG" alt="img_4073.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p style="text-align: center" align="left">&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>PASTA CON CALAMARES</title>
		<link>https://notjustrecipes.com/2008/02/26/pasta-con-calamares/</link>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Mon, 25 Feb 2008 22:44:27 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/26/pasta-con-calamares/</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p style="text-align: center;"><a href="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg"><img decoding="async" loading="lazy" class="aligncenter wp-image-48" title="dsc09200_1.jpg" src="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg" alt="" width="384" height="288" /></a></p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
