<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>natasha &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/author/natasha/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:15:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>Pink and Pelicans</title>
		<link>https://notjustrecipes.com/2008/07/06/pink-and-pelicans-2/</link>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 06 Jul 2008 08:34:36 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/06/pink-and-pelicans-2/</guid>

					<description><![CDATA[A couple of pics from our weekend at Port Stephens. You can&#8217;t believe how big those pelicans are! We were too intimidated to try and get close enough to touch one or even be in the same pic.  ]]></description>
										<content:encoded><![CDATA[<p>A couple of pics from our weekend at Port Stephens. You can&#8217;t believe how big those pelicans are! We were too intimidated to try and get close enough to touch one or even be in the same pic.</p>
<p style="text-align: center;"><a title="img_4911.JPG" href="https://notjustrecipes.com/files/2008/07/img_4911.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter alignnone" src="https://notjustrecipes.com/files/2008/07/img_4911.thumbnail.JPG" alt="img_4911.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4939.JPG" href="https://notjustrecipes.com/files/2008/07/img_4939.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/img_4939.thumbnail.JPG" alt="img_4939.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="sta_5022.JPG" href="https://notjustrecipes.com/files/2008/07/sta_5022.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/sta_5022.thumbnail.JPG" alt="sta_5022.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4974.JPG" href="https://notjustrecipes.com/files/2008/07/img_4974.jpg" rel="lightbox[pics-1215311236]"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/img_4974.thumbnail.JPG" alt="img_4974.JPG" width="200" height="150" /></a></p>
<p style="text-align: center;"><a title="img_4974.JPG" href="https://notjustrecipes.com/files/2008/07/img_4974.jpg" rel="lightbox[pics-1215311236]"> </a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>A hat.</title>
		<link>https://notjustrecipes.com/2008/07/02/a-hat/</link>
					<comments>https://notjustrecipes.com/2008/07/02/a-hat/#comments</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Wed, 02 Jul 2008 12:54:53 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/02/a-hat/</guid>

					<description><![CDATA[My friends (Brett and Nicole &#8211; celebrated childrens book author!) little girl (Daniella) wearing the first baby hat I have ever made. I designed it myself as you can tell by the way it is too small and doesn&#8217;t cover her ears properly!!!I see however that the hat is completely upstaged by those big beautiful &#8230; <a href="https://notjustrecipes.com/2008/07/02/a-hat/" class="more-link">Continue reading <span class="screen-reader-text">A hat.</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>My friends (Brett and Nicole &#8211; celebrated childrens book author!) little girl (Daniella) wearing the first baby hat I have ever made. I designed it myself as you can tell by the way it is too small and doesn&#8217;t cover her ears properly!!!<a title="img_8951.jpg" href="https://notjustrecipes.com/files/2008/07/img_8951.jpg" rel="lightbox[pics-1215002485]"><img decoding="async" loading="lazy" class="imageframe imgalignleft alignnone" src="https://notjustrecipes.com/files/2008/07/img_8951.thumbnail.jpg" alt="img_8951.jpg" width="150" height="200" /></a>I see <a href="https://notjustrecipes.com/files/2008/07/img_8956.jpg"><img decoding="async" loading="lazy" class="alignright wp-image-66" title="img_8956.jpg" src="https://notjustrecipes.com/files/2008/07/img_8956.jpg" alt="" width="384" height="288" /></a>however that the hat is completely upstaged by those big beautiful eyes!!!I see however that the hat is completely upstaged by those big beautiful eyes!!!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/02/a-hat/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>I bought myself an electric piano</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/</link>
					<comments>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comments</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Wed, 26 Mar 2008 09:35:11 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/</guid>

					<description><![CDATA[I used to play the piano when I was a teenager and loved it. But for the last 12 years I haven&#8217;t lived somewhere where I could have a piano without disturbing neighbours. While I was in Paris, Nicolas inspired me and I went back to Australia determined to buy my self a good electric &#8230; <a href="https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/" class="more-link">Continue reading <span class="screen-reader-text">I bought myself an electric piano</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>I used to play the piano when I was a teenager and loved it. But for the last 12 years I haven&#8217;t lived somewhere where I could have a piano without disturbing neighbours.</p>
<p>While I was in Paris, Nicolas inspired me and I went back to Australia determined to buy my self a good electric piano that I can play with headphones on. Making mistakes as often as I like and frustrating only myself! (As a testament to Jason, he told me to buy one 10 years ago, but it has taken me this long and good reviews from a friend of mine to get over my snobishness about it) . Now that I have it, I am so happy! Playing it 1-2 hours a day (sometimes when I should be working).</p>
<p>Oh, I forgot to mention&#8230;.  It doesn&#8217;t exactly fit into our apartment&#8230; Thank you Ed for not minding it practically blocking the entrance to our flat.  (Lucky he seems content enough so long as he can experiment with all the different sounds and instruments)</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4887.thumbnail.JPG" alt="Ed playing my new piano" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p style="text-align: center">&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/feed/</wfw:commentRss>
			<slash:comments>3</slash:comments>
		
		
			</item>
		<item>
		<title>This is for you Macrina</title>
		<link>https://notjustrecipes.com/2008/03/01/this-is-for-you-macrina/</link>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 21:06:31 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/this-is-for-you-macrina/</guid>

					<description><![CDATA[a piece of glass we found.]]></description>
										<content:encoded><![CDATA[<p>a piece of glass we found.</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/03/img_4095.thumbnail.JPG" alt="img_4095.JPG" width="200" height="150" /></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>And this is Rachael and me on her birthday</title>
		<link>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/</link>
					<comments>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 21:05:41 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4134.thumbnail.JPG" alt="img_4134.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/01/and-this-is-rachael-and-me-on-her-birthday/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>BIG COLUMNS little streets</title>
		<link>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/</link>
					<comments>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 29 Feb 2008 20:34:03 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/01/big-columns-little-streets/</guid>

					<description><![CDATA[Rome has been wonderful. Not the least because Rachael is so funny and makes me laugh and laugh. We have been walking the streets, cycling through the Borghese gardens (which are the same size as the old city of Rome!) eating and generally finding the entertainment of any place or situation. There are a few &#8230; <a href="https://notjustrecipes.com/2008/03/01/big-columns-little-streets/" class="more-link">Continue reading <span class="screen-reader-text">BIG COLUMNS little streets</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Rome has been wonderful. Not the least because Rachael is so funny and makes me laugh and laugh. We have been walking the streets, cycling through the Borghese gardens (which are the same size as the old city of Rome!) eating and generally finding the entertainment of any place or situation. There are a few things that stand out as unique here</p>
<p>First and most obvious</p>
<p>1) BIG COLUMNS (this is the Pantheon which has 16, 14 meter columns made of Egyptian granite)</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4215.thumbnail.JPG" alt="Pantheon" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p>and this below a picture of the 1st century column in the middle of our apartment which was preserved when it the building was built in the 14th century. This column used to be part of the huge building where people went to vote.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4181.thumbnail.JPG" alt="Pillar in a room…." class="imageframe imgaligncenter" height="150" width="200" /></p>
<p> It is very funny as the room is very small! and this gigantic Egyptian granite column is in the middle of it.</p>
<p>2) fashion stores for priests. It never occurred to me that they would have to go to a store to buy their garments. I guess I never thought about it very much!</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4201.thumbnail.JPG" alt="img_4201.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p> 3) Skinny streets    &#8211; which somehow still manage to house hundreds of scooters, pedestrians and 2 way traffic.</p>
<p style="text-align: center" align="left"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/img_4073.thumbnail.JPG" alt="img_4073.JPG" class="imageframe imgaligncenter" height="150" width="200" /></p>
<p style="text-align: center" align="left">&nbsp;</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/01/big-columns-little-streets/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>In case you are wondering what Ed looks like</title>
		<link>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/</link>
					<comments>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 19:05:39 +0000</pubDate>
				<category><![CDATA[Travel]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/</guid>

					<description><![CDATA[Here is a pic of Ed anticipating his favourite thing. Roast turkey.]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" loading="lazy" class="imageframe imgalignleft" src="/files/2008/02/img_47551.JPG" alt="Ed anticipating his roast turkey" width="200" height="150" />Here is a pic of Ed anticipating his favourite thing. Roast turkey.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>I can&#8217;t upload Photos AGAIN!</title>
		<link>https://notjustrecipes.com/2008/02/25/i-cnat-upload-photos-again/</link>
					<comments>https://notjustrecipes.com/2008/02/25/i-cnat-upload-photos-again/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 18:44:07 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/i-cnat-upload-photos-again/</guid>

					<description><![CDATA[&#8220;Sigh&#8221;&#8230;.]]></description>
										<content:encoded><![CDATA[<p>&#8220;Sigh&#8221;&#8230;.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/i-cnat-upload-photos-again/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>What did the mouse say?</title>
		<link>https://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/</link>
					<comments>https://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 18:27:10 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/</guid>

					<description><![CDATA[Who is his best friend? and What is his favourite colour. Can you please post a follow up to this post? Only Alvaro could be so clever to ask the mouse questions? the fairy came to me many times and I never asked her anything!!!!]]></description>
										<content:encoded><![CDATA[<p>Who is his best friend? and What is his favourite colour. Can you please post a follow up to this post? Only Alvaro could be so clever to ask the mouse questions? the fairy came to me many times and I never asked her anything!!!!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/what-did-the-mouse-say/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>There is no Rioja in a pyramid in Germany</title>
		<link>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/</link>
					<comments>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 22 Feb 2008 17:57:44 +0000</pubDate>
				<category><![CDATA[Travel]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/there-is-no-rioja-in-a-pyramid-in-germany/</guid>

					<description><![CDATA[Arrived at my hotel last night, softened and warmed by Madrith experience, only to have the truth confirmed. I had made a big mistake delaying my decision about whether take this trip. After my deliberation, there was only one, painfully expensive, option for accommodation that I could find and it is this. the Hotel Pyramide &#8230; <a href="https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/" class="more-link">Continue reading <span class="screen-reader-text">There is no Rioja in a pyramid in Germany</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Arrived at my hotel last night, softened and warmed by Madrith experience, only to have the truth confirmed. I had made a big mistake delaying my decision about whether take this trip. After my deliberation, there was only one, painfully expensive, option for accommodation that I could find and it is this.</p>
<p>the Hotel Pyramide in Furth. Basically that means that it is literally a pyramid plonked in the middle of an industrial estate and nowhere near any forms of transport other than taxi&#8217;s. (It also means that they make your pillows pyramid shaped and as soon as you touch them they deflate into pancakes) <img decoding="async" src="/files/2008/02/img_4759.jpg" />Anyway, I had an idea of this before I came so had come to terms with it, but this morning things took an amusing turn.</p>
<p>Having arrived late last night after a surprisingly long journey, I woke this morning feeling quite cold and though a nice hot shower would be a good idea. I turned on the tap and watched a slow drizzle fall from it into the bath. It didn&#8217;t look promising! I thought, okay, maybe it is a bit blocked but will give me more pressure from the shower. So I tried to pull the valve that changes it from the bath to the shower and no luck. Tried pushing&#8230; no luck. Tried pulling and pushing harder! and still no luck. Called reception who said &#8220;we will send up housekeeping to have a look, they will be there in 10 mins&#8221; half an hour later I called again &#8220;we have a problem with lots of the rooms, there is a man here to look at it. He will come to your room next&#8221; another half an hour passes. there is a knock at the door. &#8220;Housekeeping, here to make up your room&#8221; &#8220;But I am waiting for someone to come and fix my shower!&#8221; &#8220;oh&#8230;. let me look&#8221; (all in broken german/english) she walks past me and looks at the shower. then braces herself against the side of the bath and pulls like she is playing tug of war, then BANG! the shower starts pumping water like niagra falls&#8230;.</p>
<p>And I am left wondering.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
