<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: For Natasha: a recipe at the end.	</title>
	<atom:link href="https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 17 Mar 2008 04:38:01 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: maissa		</title>
		<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comment-8</link>

		<dc:creator><![CDATA[maissa]]></dc:creator>
		<pubDate>Mon, 17 Mar 2008 04:38:01 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comment-8</guid>

					<description><![CDATA[and...make sure we&#039;re invited:)]]></description>
			<content:encoded><![CDATA[<p>and&#8230;make sure we&#8217;re invited:)</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Natasha		</title>
		<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comment-7</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Sun, 16 Mar 2008 01:53:58 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comment-7</guid>

					<description><![CDATA[This look delicious! I am going to go and get the ingredients today.]]></description>
			<content:encoded><![CDATA[<p>This look delicious! I am going to go and get the ingredients today.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
