<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: About	</title>
	<atom:link href="https://notjustrecipes.com/about/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Fri, 25 Jul 2008 14:32:17 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: Jeanette		</title>
		<link>https://notjustrecipes.com/about/#comment-3</link>

		<dc:creator><![CDATA[Jeanette]]></dc:creator>
		<pubDate>Fri, 25 Jul 2008 14:32:17 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/about/#comment-3</guid>

					<description><![CDATA[Ok this is my first contribution to the blog.  Can&#039;t figure out how to add pictures but I will add something beautiful I read in a book the other day.

I didn&#039;t feel incomplete before I met him, but being with him made me feel whole.

This book, which I accidentally read twice, made me weep it was so moving - twice!]]></description>
			<content:encoded><![CDATA[<p>Ok this is my first contribution to the blog.  Can&#8217;t figure out how to add pictures but I will add something beautiful I read in a book the other day.</p>
<p>I didn&#8217;t feel incomplete before I met him, but being with him made me feel whole.</p>
<p>This book, which I accidentally read twice, made me weep it was so moving &#8211; twice!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
