<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for Not Just Recipes	</title>
	<atom:link href="https://notjustrecipes.com/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:14:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		Comment on Natasha loves &#8220;azafran&#8221; by Macrina BUSATO		</title>
		<link>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comment-20</link>

		<dc:creator><![CDATA[Macrina BUSATO]]></dc:creator>
		<pubDate>Thu, 05 Apr 2012 19:39:46 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comment-20</guid>

					<description><![CDATA[Very good work, Natasha! It is picked by hand, and involves a lot of work, usually from women. Paella and many other mediterranean rices needs azafrán, and many fish stews..]]></description>
			<content:encoded><![CDATA[<p>Very good work, Natasha! It is picked by hand, and involves a lot of work, usually from women. Paella and many other mediterranean rices needs azafrán, and many fish stews..</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Corsica by maissa		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-18</link>

		<dc:creator><![CDATA[maissa]]></dc:creator>
		<pubDate>Wed, 06 Aug 2008 22:48:41 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-18</guid>

					<description><![CDATA[You won&#039;t break anything don&#039;t worry. Also I now gave you less powers so you will definitely not break anything even by accident. :)]]></description>
			<content:encoded><![CDATA[<p>You won&#8217;t break anything don&#8217;t worry. Also I now gave you less powers so you will definitely not break anything even by accident. 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Corsica by Jeanette		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-17</link>

		<dc:creator><![CDATA[Jeanette]]></dc:creator>
		<pubDate>Mon, 28 Jul 2008 10:05:33 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-17</guid>

					<description><![CDATA[I had to stop uploading because I don&#039;t know what I am doing on these  technical things, and I suddenly got worried that  I had made the site open.  Can you check please?  I&#039;m such a dunce in computing stuff!  It was a great weekend.]]></description>
			<content:encoded><![CDATA[<p>I had to stop uploading because I don&#8217;t know what I am doing on these  technical things, and I suddenly got worried that  I had made the site open.  Can you check please?  I&#8217;m such a dunce in computing stuff!  It was a great weekend.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Corsica by admin		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-16</link>

		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Mon, 28 Jul 2008 01:06:55 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-16</guid>

					<description><![CDATA[oh noice!!]]></description>
			<content:encoded><![CDATA[<p>oh noice!!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Corsica by Jason		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-15</link>

		<dc:creator><![CDATA[Jason]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 22:57:45 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-15</guid>

					<description><![CDATA[you really look relaxed! send us some more photos.]]></description>
			<content:encoded><![CDATA[<p>you really look relaxed! send us some more photos.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on Corsica by natasha		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-14</link>

		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 12:00:11 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-14</guid>

					<description><![CDATA[Cool!!!!!
Welcome, welcome!!!!]]></description>
			<content:encoded><![CDATA[<p>Cool!!!!!<br />
Welcome, welcome!!!!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on About by Jeanette		</title>
		<link>https://notjustrecipes.com/about/#comment-3</link>

		<dc:creator><![CDATA[Jeanette]]></dc:creator>
		<pubDate>Fri, 25 Jul 2008 14:32:17 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/about/#comment-3</guid>

					<description><![CDATA[Ok this is my first contribution to the blog.  Can&#039;t figure out how to add pictures but I will add something beautiful I read in a book the other day.

I didn&#039;t feel incomplete before I met him, but being with him made me feel whole.

This book, which I accidentally read twice, made me weep it was so moving - twice!]]></description>
			<content:encoded><![CDATA[<p>Ok this is my first contribution to the blog.  Can&#8217;t figure out how to add pictures but I will add something beautiful I read in a book the other day.</p>
<p>I didn&#8217;t feel incomplete before I met him, but being with him made me feel whole.</p>
<p>This book, which I accidentally read twice, made me weep it was so moving &#8211; twice!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on dolphin by Natasha		</title>
		<link>https://notjustrecipes.com/2008/07/05/dolphin/#comment-13</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Sat, 05 Jul 2008 02:24:11 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/05/dolphin/#comment-13</guid>

					<description><![CDATA[amazing! where were you? What a wonderful experience. Ed and I went away weekend before last and saw dolphins, but only in the distance.... We also saw a humpback whale splashing in the distance.]]></description>
			<content:encoded><![CDATA[<p>amazing! where were you? What a wonderful experience. Ed and I went away weekend before last and saw dolphins, but only in the distance&#8230;. We also saw a humpback whale splashing in the distance.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on A hat. by macrina		</title>
		<link>https://notjustrecipes.com/2008/07/02/a-hat/#comment-12</link>

		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 02 Jul 2008 14:25:48 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/02/a-hat/#comment-12</guid>

					<description><![CDATA[I wish a could kneat so good!]]></description>
			<content:encoded><![CDATA[<p>I wish a could kneat so good!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Comment on I bought myself an electric piano by Natasha		</title>
		<link>https://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-11</link>

		<dc:creator><![CDATA[Natasha]]></dc:creator>
		<pubDate>Mon, 07 Apr 2008 00:38:32 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/26/i-bought-myself-an-electric-piano/#comment-11</guid>

					<description><![CDATA[Yes, totally rearranged. Mum bought us a couple of book shelfs and it inspired a complete reorg! It looks so much better. The couch faces the door onto the balcony now and we can enjoy my small but green garden (pot plants). It fels much bigger for some reason.]]></description>
			<content:encoded><![CDATA[<p>Yes, totally rearranged. Mum bought us a couple of book shelfs and it inspired a complete reorg! It looks so much better. The couch faces the door onto the balcony now and we can enjoy my small but green garden (pot plants). It fels much bigger for some reason.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
