<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: A hat.	</title>
	<atom:link href="https://notjustrecipes.com/2008/07/02/a-hat/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/07/02/a-hat/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Fri, 12 May 2023 05:20:09 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: macrina		</title>
		<link>https://notjustrecipes.com/2008/07/02/a-hat/#comment-12</link>

		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 02 Jul 2008 14:25:48 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/02/a-hat/#comment-12</guid>

					<description><![CDATA[I wish a could kneat so good!]]></description>
			<content:encoded><![CDATA[<p>I wish a could kneat so good!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
