<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Corsica	</title>
	<atom:link href="https://notjustrecipes.com/2008/07/27/corsica/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/07/27/corsica/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:14:07 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: maissa		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-18</link>

		<dc:creator><![CDATA[maissa]]></dc:creator>
		<pubDate>Wed, 06 Aug 2008 22:48:41 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-18</guid>

					<description><![CDATA[You won&#039;t break anything don&#039;t worry. Also I now gave you less powers so you will definitely not break anything even by accident. :)]]></description>
			<content:encoded><![CDATA[<p>You won&#8217;t break anything don&#8217;t worry. Also I now gave you less powers so you will definitely not break anything even by accident. 🙂</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jeanette		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-17</link>

		<dc:creator><![CDATA[Jeanette]]></dc:creator>
		<pubDate>Mon, 28 Jul 2008 10:05:33 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-17</guid>

					<description><![CDATA[I had to stop uploading because I don&#039;t know what I am doing on these  technical things, and I suddenly got worried that  I had made the site open.  Can you check please?  I&#039;m such a dunce in computing stuff!  It was a great weekend.]]></description>
			<content:encoded><![CDATA[<p>I had to stop uploading because I don&#8217;t know what I am doing on these  technical things, and I suddenly got worried that  I had made the site open.  Can you check please?  I&#8217;m such a dunce in computing stuff!  It was a great weekend.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: admin		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-16</link>

		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Mon, 28 Jul 2008 01:06:55 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-16</guid>

					<description><![CDATA[oh noice!!]]></description>
			<content:encoded><![CDATA[<p>oh noice!!</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: Jason		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-15</link>

		<dc:creator><![CDATA[Jason]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 22:57:45 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-15</guid>

					<description><![CDATA[you really look relaxed! send us some more photos.]]></description>
			<content:encoded><![CDATA[<p>you really look relaxed! send us some more photos.</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: natasha		</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/#comment-14</link>

		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 12:00:11 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78#comment-14</guid>

					<description><![CDATA[Cool!!!!!
Welcome, welcome!!!!]]></description>
			<content:encoded><![CDATA[<p>Cool!!!!!<br />
Welcome, welcome!!!!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
