<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Family &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/tag/family/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Wed, 10 May 2023 08:31:34 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>dolphin</title>
		<link>https://notjustrecipes.com/2008/07/05/dolphin/</link>
					<comments>https://notjustrecipes.com/2008/07/05/dolphin/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Fri, 04 Jul 2008 16:15:05 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/05/dolphin/</guid>

					<description><![CDATA[I was so happy and excited he could touch a dolphin&#8230;!]]></description>
										<content:encoded><![CDATA[<p>I was so happy and excited he could touch a dolphin&#8230;!</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/10246339.jpg" alt="10246339.jpg" width="425" height="319" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/05/dolphin/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
