<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: RATONCITO PEREZ answers	</title>
	<atom:link href="https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Mon, 17 Mar 2008 03:45:01 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>
		By: natasha		</title>
		<link>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/#comment-6</link>

		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Mon, 17 Mar 2008 03:45:01 +0000</pubDate>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/#comment-6</guid>

					<description><![CDATA[That mouse is amazing!]]></description>
			<content:encoded><![CDATA[<p>That mouse is amazing!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
