<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Travel &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/category/travel/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:15:08 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>In case you are wondering what Ed looks like</title>
		<link>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/</link>
					<comments>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 19:05:39 +0000</pubDate>
				<category><![CDATA[Travel]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/</guid>

					<description><![CDATA[Here is a pic of Ed anticipating his favourite thing. Roast turkey.]]></description>
										<content:encoded><![CDATA[<p><img decoding="async" loading="lazy" class="imageframe imgalignleft" src="/files/2008/02/img_47551.JPG" alt="Ed anticipating his roast turkey" width="200" height="150" />Here is a pic of Ed anticipating his favourite thing. Roast turkey.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>There is no Rioja in a pyramid in Germany</title>
		<link>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/</link>
					<comments>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Fri, 22 Feb 2008 17:57:44 +0000</pubDate>
				<category><![CDATA[Travel]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/there-is-no-rioja-in-a-pyramid-in-germany/</guid>

					<description><![CDATA[Arrived at my hotel last night, softened and warmed by Madrith experience, only to have the truth confirmed. I had made a big mistake delaying my decision about whether take this trip. After my deliberation, there was only one, painfully expensive, option for accommodation that I could find and it is this. the Hotel Pyramide &#8230; <a href="https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/" class="more-link">Continue reading <span class="screen-reader-text">There is no Rioja in a pyramid in Germany</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Arrived at my hotel last night, softened and warmed by Madrith experience, only to have the truth confirmed. I had made a big mistake delaying my decision about whether take this trip. After my deliberation, there was only one, painfully expensive, option for accommodation that I could find and it is this.</p>
<p>the Hotel Pyramide in Furth. Basically that means that it is literally a pyramid plonked in the middle of an industrial estate and nowhere near any forms of transport other than taxi&#8217;s. (It also means that they make your pillows pyramid shaped and as soon as you touch them they deflate into pancakes) <img decoding="async" src="/files/2008/02/img_4759.jpg" />Anyway, I had an idea of this before I came so had come to terms with it, but this morning things took an amusing turn.</p>
<p>Having arrived late last night after a surprisingly long journey, I woke this morning feeling quite cold and though a nice hot shower would be a good idea. I turned on the tap and watched a slow drizzle fall from it into the bath. It didn&#8217;t look promising! I thought, okay, maybe it is a bit blocked but will give me more pressure from the shower. So I tried to pull the valve that changes it from the bath to the shower and no luck. Tried pushing&#8230; no luck. Tried pulling and pushing harder! and still no luck. Called reception who said &#8220;we will send up housekeeping to have a look, they will be there in 10 mins&#8221; half an hour later I called again &#8220;we have a problem with lots of the rooms, there is a man here to look at it. He will come to your room next&#8221; another half an hour passes. there is a knock at the door. &#8220;Housekeeping, here to make up your room&#8221; &#8220;But I am waiting for someone to come and fix my shower!&#8221; &#8220;oh&#8230;. let me look&#8221; (all in broken german/english) she walks past me and looks at the shower. then braces herself against the side of the bath and pulls like she is playing tug of war, then BANG! the shower starts pumping water like niagra falls&#8230;.</p>
<p>And I am left wondering.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/23/there-is-no-rioja-in-a-pyramid-in-germany/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>While Natasha sips on Rioja in Madrith(Madrid)&#8230; I provide Tech Support</title>
		<link>https://notjustrecipes.com/2008/02/20/while-natasha-sips-on-rioja-in-madrithmadrid-i-provide-tech-support/</link>
					<comments>https://notjustrecipes.com/2008/02/20/while-natasha-sips-on-rioja-in-madrithmadrid-i-provide-tech-support/#respond</comments>
		
		<dc:creator><![CDATA[natasha]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 11:17:11 +0000</pubDate>
				<category><![CDATA[Travel]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/20/while-natasha-sips-on-rioja-in-madrithmadrid-i-provide-tech-support/</guid>

					<description><![CDATA[Life isn&#8217;t fair&#8230;is it now????? Anyway here is some Madrid nostalgia. We were in Madrid and we were amazed by its beauty and mostly its beautiful people. Macrina recomended we go to this historic restaurant for an authentic dinner. It was great restaurant. I had the suckling lamb while Jason had the suckling pig. It &#8230; <a href="https://notjustrecipes.com/2008/02/20/while-natasha-sips-on-rioja-in-madrithmadrid-i-provide-tech-support/" class="more-link">Continue reading <span class="screen-reader-text">While Natasha sips on Rioja in Madrith(Madrid)&#8230; I provide Tech Support</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p><a title="dsc_2320.jpg" href="https://notjustrecipes.com/files/2008/02/dsc_23201.jpg" rel="lightbox[pics9]"><img decoding="async" loading="lazy" class="imageframe imgalignleft alignnone" src="https://notjustrecipes.com/files/2008/02/dsc_23212.thumbnail.jpg" alt="dsc_2321.jpg" width="300" height="199" /></a></p>
<p>Life isn&#8217;t fair&#8230;is it now????? Anyway here is some Madrid nostalgia. We were in Madrid and we were amazed by its beauty and mostly its beautiful people. Macrina recomended we go to this historic restaurant for an authentic dinner. It was great restaurant. I had the suckling lamb while Jason had the suckling pig. It was delicious&#8230;thank Mac:)</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/20/while-natasha-sips-on-rioja-in-madrithmadrid-i-provide-tech-support/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
