<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: In case you are wondering what Ed looks like	</title>
	<atom:link href="https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com/2008/02/25/in-case-you-are-wondering-what-ed-looks-like/</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:15:08 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
</channel>
</rss>
