<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Recipes &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/category/recipes/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Fri, 26 Oct 2018 00:35:18 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>For Natasha: a recipe at the end.</title>
		<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</link>
					<comments>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Tue, 11 Mar 2008 14:57:43 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</guid>

					<description><![CDATA[chocolate mousse The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward. Ingredients: For 1 ½ Cups (2 servings), just you and Ed. 2 bananas, peeled and sliced 1/3 cup raw cacao nibs, ground fine 7 tbsp. raw coconut oil or coconut butter 3 tbsp. light agave nectar &#8230; <a href="https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/" class="more-link">Continue reading <span class="screen-reader-text">For Natasha: a recipe at the end.</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>chocolate mousse<br />
The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward.<br />
Ingredients:</p>
<p>For 1 ½ Cups (2 servings), just you and Ed.<br />
2 bananas, peeled and sliced<br />
1/3 cup raw cacao nibs, ground fine<br />
7 tbsp. raw coconut oil or coconut butter<br />
3 tbsp. light agave nectar<br />
1 tsp. vanilla extract, preferably alcohol-free<br />
raspberries for garnish<br />
Combine bananas, ground cacao nibs, coconut oil, agave nectar and vanilla extract in a food processor, and pulse until smooth. If a thicker pudding is desired, add more banana and coconut oil (pudding will also thicken as it chills). Cover and refrigerate for 2 hours. Spoon into serving dishes, and garnish each dish with raspberries.</p>
<p style="text-align: center"><a href="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.jpg" rel="lightbox[pics-1205247175]" title="hoar_raw_chocolate_mousse.jpg"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.thumbnail.jpg" width="200" height="125" alt="hoar_raw_chocolate_mousse.jpg" class="imageframe imgaligncenter" /></a></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>PASTA CON CALAMARES</title>
		<link>https://notjustrecipes.com/2008/02/26/pasta-con-calamares/</link>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Mon, 25 Feb 2008 22:44:27 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/26/pasta-con-calamares/</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p style="text-align: center;"><a href="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg"><img decoding="async" loading="lazy" class="aligncenter wp-image-48" title="dsc09200_1.jpg" src="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg" alt="" width="384" height="288" /></a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Natasha loves &#8220;azafran&#8221;</title>
		<link>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/</link>
					<comments>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 11:22:17 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<category><![CDATA[food]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/20/natasha-loves-azafran/</guid>

					<description><![CDATA[Saffron (Crocus sativus L.) is a bulbous plant that belongs to the family of the Iridaceas. The bulb has a spherical form over 2 to 3 cm in diameter, it is fleshy, and it is covered with reticulated brown-greyish membranes. From each bulb, between October and November, from one to three flowers spring up shaping &#8230; <a href="https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/" class="more-link">Continue reading <span class="screen-reader-text">Natasha loves &#8220;azafran&#8221;</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Saffron (Crocus sativus L.) is a bulbous plant that belongs to the family of the Iridaceas. The bulb has a spherical form over 2 to 3 cm in diameter, it is fleshy, and it is covered with reticulated brown-greyish membranes. From each bulb, between October and November, from one to three flowers spring up shaping a tube that opens in a purple funnel. This is the rose of the saffron, with long and narrow leaves, which end up by opening, putting their interior on view. From the ovary of the flower three yellow stamens and a white filament, the style, come up, which is divided into three red strands or stigmas: the saffron’s blades or cloves.<br />
The one Natasha tasted is from near Madrid, an area named La Mancha.From a physical point of view, the Saffron of La Mancha is distinguished easily because the red stigmas stand out clearly from the flower and because of its short style. The Denomination of Origin &#8220;Saffron of La Mancha&#8221; will always be the saffron of the cultivation and it will be shown to the consumer only in strands, never milled.<br />
Perceptibly, it is characterized for its overpowering scent and absence of astringent flavour.<br />
The elaboration process, which consists of its desiccation by keeping it on the simmer instead of drying it off, seems to be the cause of the product’s better presence, intense scent, and colouring power.</p>
<p>These physical, chemical, and perceptible characteristics are the result of the environment, the cultivation conditions, and the elaboration process that are typical of La Mancha.</p>
<p>Saffron was introduced in Spain during the Arabian dominance. During the VIII and IX centuries, it was a product monopolized by the Andalusian upper middle class. Arabic cooking was very rich in herbaceous seasonings, for what in all the orchards there were nurseries of these plants, mainly cumins, caraway, ajemuz, cress, sweet aniseed, fennel, wild anise, coriander, mustard, mint, and parsley. But saffron was the most important seasoning for the Muslim economy, used as a colouring and essential seasoning in most of the courses.</p>
<p>Later on, there is written evidence of the cultivation of saffron in La Mancha in the book &#8220;Cultivation of saffron in La Solana&#8221; (1897) by J.A. López de la Osa, in which data about this cultivation a hundred years ago are included, quoting a judicial inventory of the year 1720 in which saffron is also mentioned.<br />
In the first third of the XIX century, La Mancha produced the best quality of saffron in Spain, reaching the largest outputs by hectare of dry land. The immemorial cultivation is abundantly documented in Pedro Muñoz, Campo de Criptana and Manzanares (Ciudad Real), in Lillo, Madridejos, Villacañas, Villanueva de Alcardete and Cabezamesada (Toledo), and in Motilla del Palacar (Cuenca).<br />
 As a significant example of the traditional character and of the economic importance of this cultivation, it is necessary to mention the custom, that still survives in some villages of La Mancha, of giving some blades of saffron to the engaged couples as a symbol of the desire for prosperity.<br />
The qualities of saffron for human beings’ health are infinite and proven, among which we could point up its tonic character (stimulant of the appetite); eupeptic (it helps digestion); sedative (it combats cough and bronchitis, relieves colics, insomnia, and the problems of child’s teething); carminative (it helps the expulsion of gases); emenagogic (it favours menstruation). It is also effective to combat nervous and spasmodic upsets, and asthma.<br />
I will post the recipe for Milanese rice, even if its an italian recipe, and some other from Spain.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/azafran2_nueva.thumbnail.jpg" width="134" height="200" alt="saffron from Spain" class="imageframe imgaligncenter" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
