<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>macrina &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/author/macrina/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Wed, 10 May 2023 08:31:34 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>dolphin</title>
		<link>https://notjustrecipes.com/2008/07/05/dolphin/</link>
					<comments>https://notjustrecipes.com/2008/07/05/dolphin/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Fri, 04 Jul 2008 16:15:05 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/07/05/dolphin/</guid>

					<description><![CDATA[I was so happy and excited he could touch a dolphin&#8230;!]]></description>
										<content:encoded><![CDATA[<p>I was so happy and excited he could touch a dolphin&#8230;!</p>
<p style="text-align: center;"><img decoding="async" loading="lazy" class="imageframe imgaligncenter" src="https://notjustrecipes.com/files/2008/07/10246339.jpg" alt="10246339.jpg" width="425" height="319" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/05/dolphin/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>For Natasha: a recipe at the end.</title>
		<link>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</link>
					<comments>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Tue, 11 Mar 2008 14:57:43 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/</guid>

					<description><![CDATA[chocolate mousse The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward. Ingredients: For 1 ½ Cups (2 servings), just you and Ed. 2 bananas, peeled and sliced 1/3 cup raw cacao nibs, ground fine 7 tbsp. raw coconut oil or coconut butter 3 tbsp. light agave nectar &#8230; <a href="https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/" class="more-link">Continue reading <span class="screen-reader-text">For Natasha: a recipe at the end.</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>chocolate mousse<br />
The agave nectar is key: It&#8217;s low-glycemic, so it won&#8217;t spike blood-sugar levels—and you won&#8217;t crash afterward.<br />
Ingredients:</p>
<p>For 1 ½ Cups (2 servings), just you and Ed.<br />
2 bananas, peeled and sliced<br />
1/3 cup raw cacao nibs, ground fine<br />
7 tbsp. raw coconut oil or coconut butter<br />
3 tbsp. light agave nectar<br />
1 tsp. vanilla extract, preferably alcohol-free<br />
raspberries for garnish<br />
Combine bananas, ground cacao nibs, coconut oil, agave nectar and vanilla extract in a food processor, and pulse until smooth. If a thicker pudding is desired, add more banana and coconut oil (pudding will also thicken as it chills). Cover and refrigerate for 2 hours. Spoon into serving dishes, and garnish each dish with raspberries.</p>
<p style="text-align: center"><a href="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.jpg" rel="lightbox[pics-1205247175]" title="hoar_raw_chocolate_mousse.jpg"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/03/hoar_raw_chocolate_mousse.thumbnail.jpg" width="200" height="125" alt="hoar_raw_chocolate_mousse.jpg" class="imageframe imgaligncenter" /></a></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/03/12/for-natasha-a-recipe-at-the-end/feed/</wfw:commentRss>
			<slash:comments>2</slash:comments>
		
		
			</item>
		<item>
		<title>PASTA CON CALAMARES</title>
		<link>https://notjustrecipes.com/2008/02/26/pasta-con-calamares/</link>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Mon, 25 Feb 2008 22:44:27 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/26/pasta-con-calamares/</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<p style="text-align: center;"><a href="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg"><img decoding="async" loading="lazy" class="aligncenter wp-image-48" title="dsc09200_1.jpg" src="https://notjustrecipes.com/files/2008/02/dsc09200_1.jpg" alt="" width="384" height="288" /></a></p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Ed</title>
		<link>https://notjustrecipes.com/2008/02/25/ed/</link>
					<comments>https://notjustrecipes.com/2008/02/25/ed/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 20:27:02 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/ed/</guid>

					<description><![CDATA[Nice to know Ed. Nice to know he likes turkey. Here is becoming a christmas meal but its an imported &#8220;tradition&#8221;. I hope he likes the wine Ramon gived to you. This wines are very very good, and the price is very high on shops,that MUGA is like 100-130€&#8230;so imagine in a restaurant, how much &#8230; <a href="https://notjustrecipes.com/2008/02/25/ed/" class="more-link">Continue reading <span class="screen-reader-text">Ed</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Nice to know Ed. Nice to know he likes turkey. Here is becoming a christmas meal but its an imported &#8220;tradition&#8221;. I hope he likes the wine Ramon gived to you. This wines are very very good, and the price  is very high on shops,that MUGA is like 100-130€&#8230;so imagine in a restaurant, how much it will be the price!!. So dont drink it in Germany and wait to share it with Ed!!!.<br />
 The one you had at home, I forgot to tell you, it was made with no pesticides&#8230;very very organic.</p>
<p>Just in case, Ed wonders wat Alvaro looks like, I post this photo .</p>
<p style="text-align: center"><a href="https://notjustrecipes.com/files/2008/02/alvaro.jpg" rel="lightbox[pics-1203884259]" title="alvaro.jpg"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/alvaro.thumbnail.jpg" width="149" height="200" alt="alvaro.jpg" class="imageframe imgaligncenter" /></a></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/ed/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>RATONCITO PEREZ answers</title>
		<link>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/</link>
					<comments>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Sun, 24 Feb 2008 19:42:33 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/</guid>

					<description><![CDATA[Yes, Ratoncito always answers. Not to much words. I supose because he is alwaYs in a hurry. He said: &#8221; Thank you Alvaro for taking care of your teeth, always so clean and nice. I have lots of friends, but two of them are very special: Lucy and Ricardo. And my favorite color is cheese &#8230; <a href="https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/" class="more-link">Continue reading <span class="screen-reader-text">RATONCITO PEREZ answers</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Yes, Ratoncito always answers. Not to much words. I supose because he is alwaYs in a hurry. He said:<br />
&#8221; Thank you Alvaro for taking care of your teeth, always so clean and nice. I have lots of friends, but two of them are very special: Lucy and Ricardo. And my favorite color is cheese color: blue cheese, ricotta cheese, parmesano cheese, feta cheese&#8230;.I love all the colors of cheese, even the greens in roquefort cheese and the orange in gouda cheese&#8230;Cheese color is my favorite!&#8221;.<br />
Alvaro agree this is a very clever mouse!!</p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/25/ratoncito-perez-answers/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Today RATONCITO PEREZ will visit us</title>
		<link>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/</link>
					<comments>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Thu, 21 Feb 2008 23:13:56 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/</guid>

					<description><![CDATA[Alvaro is waiting this night to &#8220;Ratoncito Perez&#8221;. He will come and take his teeth and leave a little present for Alvaro. For some reason we belive it will be something like&#8230;Lego?. How clever is this mouse!!. Alvaro leaved for him cheese and a hudge carrot, but also 2 questions for him to awnser: who &#8230; <a href="https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/" class="more-link">Continue reading <span class="screen-reader-text">Today RATONCITO PEREZ will visit us</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Alvaro is waiting this night to &#8220;Ratoncito Perez&#8221;. He will come and take his teeth and leave a little present for Alvaro. For some reason we belive it will be something like&#8230;Lego?. How clever is this mouse!!. Alvaro leaved for him cheese and a hudge carrot, but also 2 questions for him to awnser:<br />
who is your best friend? what is your favorite color?&#8230;<br />
I wonder if this mouse will be able to write in this white board.<br />
I d&#8217;ont know why I am in such a hurry, but finally Natasha, I decide to go to NY and exhibit.<br />
<img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/alva-1.thumbnail.jpg" width="160" height="200" alt="alva-1.jpg" class="imageframe imgalignleft" /><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/alva-2.thumbnail.jpg" width="200" height="129" alt="alva-2.jpg" class="imageframe imgalignright" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/22/today-ratoncito-perez-will-visit-us/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>SANTA NATALIA</title>
		<link>https://notjustrecipes.com/2008/02/21/santa-natalia/</link>
					<comments>https://notjustrecipes.com/2008/02/21/santa-natalia/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 15:19:46 +0000</pubDate>
				<category><![CDATA[Family]]></category>
		<category><![CDATA[names]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/21/santa-natalia/</guid>

					<description><![CDATA[NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec. Santa Natalia is a Spanish saint, in the years of muslim domination. &#8220;Santa Natalia &#8230; <a href="https://notjustrecipes.com/2008/02/21/santa-natalia/" class="more-link">Continue reading <span class="screen-reader-text">SANTA NATALIA</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>NATALIA,(NATALYA Наталья) means &#8221; the day of born&#8221; or &#8220;christmas day, the Birthday of Christ&#8221;, and is a variant of Natascha (Наташа), in Russia ( means born in the day of Nativity). So you can celebrate it 27july or 25 dec.<br />
Santa Natalia is a Spanish saint, in the years of muslim domination.</p>
<p>&#8220;Santa Natalia de Córdoba nació en esta ciudad alrededor del 825, en plena dominación musulmana. Reinaba entonces el emir Abderramán II, mismo que desató una persecución contra los cristianos.</p>
<p>Fue el caso de Natalia, que nació de padres mahometanos. Su padre falleció cuando ella era muy pequeña, la madre se casó en segundas nupcias con un cristiano, que logró convertirla. Natalia fue educada cristianamente y casada con Aurelio, un muchacho con profundas convicciones cristianas (de madre cristiana y padre mahometano pero educado por una tía cristiana) pero en la clandestinidad, para evitar las persecuciones. Ambos, habiendo asistido al martirio de Juan, creyeron los esposos que tenían que ser más valientes y practicar su religión en público para animar a los demás cristianos, evitando así que se pasaran al islamismo, la religión oficial en aquel momento y lugar.<br />
Pronto les tocó a ellos el turno del martirio. Fueron prendidos por los ministros del gobernador y conducidos a prisión. Allí intentaron por todos los medios, jueces y verdugos, que renegasen de su fe. Pero ni las promesas ni las torturas pudieron con ellos. Fueron degollados el 27 de julio del 852. Sus cuerpos fueron sepultados y venerados por los cristianos; pero estando muy poco seguros en Córdoba, Carlos el Calvo se ocupó de trasladar seis años más tarde (852) a San Germán (París) el cuerpo de san Aurelio y la cabeza de santa Natalia.&#8221;<br />
But I all allso found Saint Natalia of Nicomedia (1 December).Christian woman married to a non-Christian Nicomedian imperial officer named Adrian. Her husband was so impressed by Christians persecuted by Diocletian that he openly declared he was a Christian, though he hadn&#8217;t even been baptized; he was immediately arrested. Natalia visited him, arranged for his instruction in the faith, and ministered to other prisoners. When Adrian was sentenced to death and could have no visitors, Natalia disguised herself as a boy and bribed her way in to see him. On 8 September 304 she watched Adrian&#8217;s tortured execution, and had to be restrained from throwing herself on the funeral pyre. When a storm put out the fire, she managed to recover Adrian&#8217;s hand, which she kept as a relic. She then moved to Argyropolis where she lived out the rest of her days alone.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-11.jpg" width="94" height="124" alt="images-11.jpg" class="imageframe imgaligncenter" /></p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/images-2.jpg" width="63" height="113" alt="images-2.jpg" class="imageframe imgaligncenter" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/21/santa-natalia/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Natasha loves &#8220;azafran&#8221;</title>
		<link>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/</link>
					<comments>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/#comments</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 11:22:17 +0000</pubDate>
				<category><![CDATA[Recipes]]></category>
		<category><![CDATA[food]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/2008/02/20/natasha-loves-azafran/</guid>

					<description><![CDATA[Saffron (Crocus sativus L.) is a bulbous plant that belongs to the family of the Iridaceas. The bulb has a spherical form over 2 to 3 cm in diameter, it is fleshy, and it is covered with reticulated brown-greyish membranes. From each bulb, between October and November, from one to three flowers spring up shaping &#8230; <a href="https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/" class="more-link">Continue reading <span class="screen-reader-text">Natasha loves &#8220;azafran&#8221;</span> <span class="meta-nav">&#8594;</span></a>]]></description>
										<content:encoded><![CDATA[<p>Saffron (Crocus sativus L.) is a bulbous plant that belongs to the family of the Iridaceas. The bulb has a spherical form over 2 to 3 cm in diameter, it is fleshy, and it is covered with reticulated brown-greyish membranes. From each bulb, between October and November, from one to three flowers spring up shaping a tube that opens in a purple funnel. This is the rose of the saffron, with long and narrow leaves, which end up by opening, putting their interior on view. From the ovary of the flower three yellow stamens and a white filament, the style, come up, which is divided into three red strands or stigmas: the saffron’s blades or cloves.<br />
The one Natasha tasted is from near Madrid, an area named La Mancha.From a physical point of view, the Saffron of La Mancha is distinguished easily because the red stigmas stand out clearly from the flower and because of its short style. The Denomination of Origin &#8220;Saffron of La Mancha&#8221; will always be the saffron of the cultivation and it will be shown to the consumer only in strands, never milled.<br />
Perceptibly, it is characterized for its overpowering scent and absence of astringent flavour.<br />
The elaboration process, which consists of its desiccation by keeping it on the simmer instead of drying it off, seems to be the cause of the product’s better presence, intense scent, and colouring power.</p>
<p>These physical, chemical, and perceptible characteristics are the result of the environment, the cultivation conditions, and the elaboration process that are typical of La Mancha.</p>
<p>Saffron was introduced in Spain during the Arabian dominance. During the VIII and IX centuries, it was a product monopolized by the Andalusian upper middle class. Arabic cooking was very rich in herbaceous seasonings, for what in all the orchards there were nurseries of these plants, mainly cumins, caraway, ajemuz, cress, sweet aniseed, fennel, wild anise, coriander, mustard, mint, and parsley. But saffron was the most important seasoning for the Muslim economy, used as a colouring and essential seasoning in most of the courses.</p>
<p>Later on, there is written evidence of the cultivation of saffron in La Mancha in the book &#8220;Cultivation of saffron in La Solana&#8221; (1897) by J.A. López de la Osa, in which data about this cultivation a hundred years ago are included, quoting a judicial inventory of the year 1720 in which saffron is also mentioned.<br />
In the first third of the XIX century, La Mancha produced the best quality of saffron in Spain, reaching the largest outputs by hectare of dry land. The immemorial cultivation is abundantly documented in Pedro Muñoz, Campo de Criptana and Manzanares (Ciudad Real), in Lillo, Madridejos, Villacañas, Villanueva de Alcardete and Cabezamesada (Toledo), and in Motilla del Palacar (Cuenca).<br />
 As a significant example of the traditional character and of the economic importance of this cultivation, it is necessary to mention the custom, that still survives in some villages of La Mancha, of giving some blades of saffron to the engaged couples as a symbol of the desire for prosperity.<br />
The qualities of saffron for human beings’ health are infinite and proven, among which we could point up its tonic character (stimulant of the appetite); eupeptic (it helps digestion); sedative (it combats cough and bronchitis, relieves colics, insomnia, and the problems of child’s teething); carminative (it helps the expulsion of gases); emenagogic (it favours menstruation). It is also effective to combat nervous and spasmodic upsets, and asthma.<br />
I will post the recipe for Milanese rice, even if its an italian recipe, and some other from Spain.</p>
<p style="text-align: center"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/azafran2_nueva.thumbnail.jpg" width="134" height="200" alt="saffron from Spain" class="imageframe imgaligncenter" /></p>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/20/natasha-loves-azafran/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
		<item>
		<title>Natasha drinks to much Rioja</title>
		<link>https://notjustrecipes.com/2008/02/20/natasha-drinks-to-much-rioja/</link>
					<comments>https://notjustrecipes.com/2008/02/20/natasha-drinks-to-much-rioja/#respond</comments>
		
		<dc:creator><![CDATA[macrina]]></dc:creator>
		<pubDate>Wed, 20 Feb 2008 10:36:32 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=18</guid>

					<description><![CDATA[As you can see in this image, she was a little bit sick. please notice the color of her face….]]></description>
										<content:encoded><![CDATA[<p>As you can see in this image, she was a little bit sick.</p>
<div class="imageframe imgalignleft" style="width:319px"><img decoding="async" loading="lazy" src="https://notjustrecipes.com/files/2008/02/nata-3.jpg" width="319" height="425" alt="please notice the color of her face…." /></p>
<div class="imagecaption">please notice the color of her face….</div>
</div>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/02/20/natasha-drinks-to-much-rioja/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
