/*
Source Sans Pro
Copyright 2010 - 2018 Adobe Systems Incorporated (http://www.adobe.com/), with Reserved Font Name 'Source'.
SIL Open Font License, 1.1, https://opensource.org/licenses/OFL-1.1

Bitter
Copyright 2011 The Bitter Project Authors (https://github.com/solmatas/BitterPro)
SIL Open Font License, 1.1, https://opensource.org/licenses/OFL-1.1
*/

/* source-sans-pro-cyrillic-ext-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-greek-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-300-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-latin-300-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-cyrillic-ext-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-greek-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-400-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-latin-400-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-cyrillic-ext-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-greek-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-700-normal */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-latin-700-normal9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-normal9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-cyrillic-ext-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-greek-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-300-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 300;
	src:
		url('source-sans-pro/source-sans-pro-latin-300-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-300-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-cyrillic-ext-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-greek-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-400-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 400;
	src:
		url('source-sans-pro/source-sans-pro-latin-400-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-400-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* source-sans-pro-cyrillic-ext-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-ext-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* source-sans-pro-cyrillic-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-cyrillic-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* source-sans-pro-greek-ext-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-greek-ext-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+1F00-1FFF;
}

/* source-sans-pro-greek-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-greek-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0370-03FF;
}

/* source-sans-pro-vietnamese-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-vietnamese-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* source-sans-pro-latin-ext-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-latin-ext-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* source-sans-pro-latin-700-italic */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: italic;
	font-display: fallback;
	font-weight: 700;
	src:
		url('source-sans-pro/source-sans-pro-latin-700-italic9bfa.woff2?ver=21') format('woff2'),
		url('source-sans-pro/source-sans-pro-all-700-italic9bfa.woff?ver=21') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bitter-cyrillic-ext-400-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('bitter/bitter-cyrillic-ext-400-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-400-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* bitter-cyrillic-400-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('bitter/bitter-cyrillic-400-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-400-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* bitter-vietnamese-400-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('bitter/bitter-vietnamese-400-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-400-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* bitter-latin-ext-400-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('bitter/bitter-latin-ext-400-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-400-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* bitter-latin-400-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 400;
	src:
		url('bitter/bitter-latin-400-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-400-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* bitter-cyrillic-ext-700-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('bitter/bitter-cyrillic-ext-700-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-700-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* bitter-cyrillic-700-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('bitter/bitter-cyrillic-700-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-700-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* bitter-vietnamese-700-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('bitter/bitter-vietnamese-700-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-700-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* bitter-latin-ext-700-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('bitter/bitter-latin-ext-700-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-700-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* bitter-latin-700-normal */
@font-face {
	font-family: 'Bitter';
	font-style: normal;
	font-display: fallback;
	font-weight: 700;
	src:
		url('bitter/bitter-latin-700-normalcf89.woff2?ver=32') format('woff2'),
		url('bitter/bitter-all-700-normalcf89.woff?ver=32') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
