<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>jeanette &#8211; Not Just Recipes</title>
	<atom:link href="https://notjustrecipes.com/author/jeanette/feed/" rel="self" type="application/rss+xml" />
	<link>https://notjustrecipes.com</link>
	<description>more than just recipes</description>
	<lastBuildDate>Thu, 18 May 2023 05:14:07 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://11ty.dev/?v=6.2.1</generator>
	<item>
		<title>Corsica</title>
		<link>https://notjustrecipes.com/2008/07/27/corsica/</link>
					<comments>https://notjustrecipes.com/2008/07/27/corsica/#comments</comments>
		
		<dc:creator><![CDATA[jeanette]]></dc:creator>
		<pubDate>Sun, 27 Jul 2008 07:12:42 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://notjustrecipes.com/?p=78</guid>

					<description><![CDATA[]]></description>
										<content:encoded><![CDATA[<figure id="attachment_80" aria-describedby="caption-attachment-80" style="width: 2592px" class="wp-caption alignnone"><a href="/files/2008/07/img_28581.jpg"><img decoding="async" class="wp-image-80 size-full" src="/files/2008/07/img_28581.jpg" alt="fantastic weekend sailing in Corsica" width="2592" height="1944" /></a><figcaption id="caption-attachment-80" class="wp-caption-text">fantastic weekend sailing in Corsica</figcaption></figure>
]]></content:encoded>
					
					<wfw:commentRss>https://notjustrecipes.com/2008/07/27/corsica/feed/</wfw:commentRss>
			<slash:comments>5</slash:comments>
		
		
			</item>
	</channel>
</rss>
